
header{
    width: 100%;
    height: 768px;
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-between;

    .Top___header{
        width: 83%;
        height: 59px;
        margin-top: 42px;
        display: flex;
        justify-content: space-between;
        .logo{
            font-weight: 900;
            font-family: raleway;
            font-size: 40px;
            color: white;
        }
        .menuMobile{
            display: none;
        }
        .menu{
            width: 48%;
            height: inherit;
            display: block;
            nav{
                width: 100%;
                height: inherit;
                display: flex;
                justify-content: space-between;
                div{
                    width: fit-content;
                    height: inherit;
                    
                    a{
                        display: block;
                        width: fit-content;
                        height: inherit;
                        text-decoration: none;
                        color: white;
                        font-family: poppins;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 59px;
                    }
                }
                .btn{
                     background: #023047;
                     width: 155px;
                     height: 59px;
                     border-radius: 24px;
                     border: unset;
                     
                     a{
                     color: white;
                     font-family: poppins;
                     font-weight: 700;
                     font-size: 18px;
                     text-decoration: none;
                     }
 
 
                 }
                
            }
            
        }
    }

    .bottom__header{
        width: 85%;
        height: 582px;
        display: flex;
        flex-flow: row wrap;
        .boottom__header__left{
            width:40% ;
            height: inherit;
        
           

            h1{
            font-family: raleway;
            font-size: 60px;
            font-weight:bolder;
            color: white;
            margin-top: 20px;
            }

            p{
                font-size: 16px;
                font-weight: 400;
                color: white;
                font-family: poppins;
                line-height: 32px;
                margin-top: 18px;
            }
            
            button{
                background: #DA722C;
                width: 183px;
                height: 59px;
                border-radius: 24px;
                border: unset;
                margin-top: 30px;
                a{
                    font-family: poppins;
                    font-weight: 700;
                    font-size: 18px;
                    color: white;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }
            }
        }

        .boottom__header__center{
            width: 19%;
            height: inherit;
        
           
            .top__button{
                width: 213px;
                height: 98px;
                background-color: white;
                border-radius: 24px;
                border: unset;
                box-shadow: 5px 5px 15px #3B448F;
               margin-top: 137px;

                h2{
                    font-size:36px;
                    font-weight: 700;
                    font-family: poppins;
                    color: #023047;

                }
                p{

                    font-size: 16px;
                    font-weight: 400;
                    font-family: poppins;
                    color: #023047;
                }
            }

            .bottom__button{
                width: 188px;
                height: 98px;
                background-color: white;
                border-radius: 24px;
                border: unset;
                box-shadow: 10px 10px 20px #3B448F;
                margin-top: 141px;
                h2{
                    font-size:36px;
                    font-weight: 700;
                    font-family: poppins;
                    color: #023047;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    gap: 10px;
                    align-items: center;
                }
                
                p{
                    
                    font-size: 16px;
                    font-weight: 400;
                    font-family: poppins;
                    color: #023047;
                }
            }
        }

        .boottom__header__right{
            width: 41%;
            height: inherit;
            
        }
    }

}